<h2>Fill out this form to update <%= link_to @pet.name, "/pets/#{@pet.id}" %>'s information</h2>

<%= render partial: 'form', locals: {path: "/pets/#{@pet.id}", method: :patch, button_text: 'Update'} %>
