<h1> Welcome to Adopt, Don't Shop!<h1>

<h4> You can access all of our shelters and/or all of our pets through
  the links above. </h4>

<img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2018/01/shutterstock_587562362.jpg"
alt="welcome_image" style="width:700px">
